<option value="">Select States</option>
{% for s in state %}
<option value="{{s.id}}">{{s.state}}</option>
{% endfor %}

<!-- <script>
    const lazyState = document.getElementById("lazy-state")
    console.log(lazyState)
    $.ajax({
      type: 'GET',
      url: 'lazy-state/',
      success: function (response) {
        const data = response.state
        console.log(data)
        data.forEach(s => {
          // console.log(s.state)
          lazyState.innerHTML += `
                                  <option value="${s.id}">${s.state}</option>
                                `
        });
  
      }
    });
</script> -->